
@import 'lib/reset.css';
@import 'lib/typography.css';
@import 'lib/grid.css';
@import 'lib/forms.css';
@import 'lib/ie.css';
@import 'week.css';

/* --------------------------------------- */
body {
	margin:0;
	padding:0;
	background-color:#212b3b;
}

h1 {}
h3 {}
h4 {}
h5 {}
h6 {}

#container {
	width:780px;
	border:10px solid #5c2719;
	padding:10px;
	margin:30px auto 0 auto;
	background-color:#fff;
}
#header {
	width:780px;
	height:170px;
	background:url('img/logo.gif');
}

#nav {
	width:780px;
	background-color:#f5f1d4;
	text-align:center;
	margin-top:3px;
	height:20px;
}
#nav ul { padding:2px 0; }
#nav li,#sub-nav li {
	list-style:none;
	display:inline;
	text-transform:uppercase;
	font-size:.9em;
	margin:0 1em;
}
a 			{ color:#474747; }
a:hover { color:#f65e0f; }

#footer {
	margin:2px 0 0 0;
	color:#fff;
	font-size:.8em;
}

#content 					{ margin:20px;text-align:left; }
.block 							{ margin-bottom:20px;text-align:left; }
.block a						{ text-decoration:underline; }
.block p {
	margin:2px 0;
	padding:0;
	font-size:1em;
}
.more 							{ text-align:right;}
.more a 						{ color:#f65e0f; }
.more a:hover				{ color:#474747; }


.selected a { color:#f65e0f; }

.doctrinal strong { color:#4d7ba2; }

.textbox {float:left;width:40%;padding:0 3%;}
.imagebox {float:left;width:53%;}

.quiet {text-align:right;float:right;}